.home{
  display: grid;
  grid-template-columns: 50% auto;
  height: 100vh;
  position: relative;
  background-image: url('HomeBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .BlackSection{
  color: white;
  padding: 20px;
  height: 100%;
  position: relative;
}
.home .GreenSection{
  color: white;
  padding: 20px;
  height: 100%;
}
.home img{
  position: absolute;
  height: 80%;
  right: 15%;
  bottom: 0;
}
.home .TextSection{
  padding: 20px;
  position: absolute;
  bottom:10% ;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 20px;
}
.home .TextSection h1{
  font-size: 5.5rem;
}
.home .TextSection h2{
  font-size: 2.5rem;
  color: #F4FFC3;
}
.home .TextSection .HomeButtons .talk{
  padding: 10px 20px;
  background-color: #F4FFC3;
  color: black;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  margin: 0 8px;
}

.home .TextSection .HomeButtons .CV{
  padding: 10px 20px;
  background-color: #493D9E;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  margin: 0 8px;
}

.home .TextSection a:hover{
  background-color: black;
  color: #F4FFC3;
  transition: 0.5s ease all ;
}
.stats {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.stats div {
  text-align: center;
}

.stats h3 {
  font-size: 40px;
  margin: 0;
  color: #00ff00;
}
.social-buttons {
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
}

.social-btn {
  width: 55px;
  height: 55px;
  background-color: #09122C;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
}

.social-btn:hover {
  background-color: #00ff00;
  color: white;
}
@media (max-width: 950px) {
  .home {
    grid-template-columns: 1fr;
    height: 150vh;
    width: 100%;
    overflow: hidden;
  }
  .home .BlackSection {
    width: 100%;
  }
  .home .GreenSection {
    width: 100%;
    display: none;
  }
  .home img {
    height: 44%;
    left: 50%;
    transform: translate(-50%);
  }
  .home .TextSection {
    position: relative;
    top: 12%;
    left: 0;
    padding: 20px;
    text-align: center;
    align-items: center;
  }
  .home .TextSection h1 {
    font-size: 3rem;
  }
  .home .TextSection h2 {
    font-size: 1.5rem;
  }
  .home .TextSection button {
    width: 150px;
  }
  .stats {
    align-items: center;
  }

  .HomeButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .social-btn {
    width: 45px;
    height: 45px;
    font-size: 18px;
  }
}