.footer {
    border-top: 1px solid #444;

    background-color: #282828;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.footer-col {
    flex: 1;
    margin: 20px;
    min-width: 200px;
}

.footer-col h4 {
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.footer-col h4::after {
    content: '';
    background: #e91e63;
    display: block;
    height: 2px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-col ul li a:hover {
    color: #fff;
}

.social-links a {
    color: #bbb;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #fff;
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #444;
}